<p>List your employees here</p>

  <table border = '1'>

  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Title</th>
    <th>Gross salary</th>
    <th>Net pay</th>
  </tr>

  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><%= employee.title %></td>
      <td><%= "$#{sprintf('%.2f', employee.gross_monthly_salary)}" %></td>
      <td><%= "$#{sprintf('%.2f', employee.net_pay)}" %></td>
    </tr>
  <% end %>

  </table>

