<p class="beautiful">List your sales here </p>

<table border = '1'>
<tr>
  <th>Amount</th>
  <th>First name</th>
  <th>Last name</th>
  <th>Commission sales person?</th>
  <th>Commission</th>
</tr>

  <% @sales.each do |sale| %>
    <% seller = sale.sales_person %>
    <tr>
      <td><%= "$#{sprintf('%.2f', sale.amount)}" %></td>
      <td><%= seller.first_name %></td>
      <td><%= seller.last_name %></td>
      <% if seller.is_a?(CommissionSalesPerson) %>
        <% sale_commission = sale.amount * seller.commission %>
        <td><%= 'Y' %></td>
        <td><%= "$#{sprintf('%.2f', sale_commission)}" %></td>
      <% end %>
    </tr>
  <% end %>

</table>
